<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/jdnn/image/btn_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,64},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_cal_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,64},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m1.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,483},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m10.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,643},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m15.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,483},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,334},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m20.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,479},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m25.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,722},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m3.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,639},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m4.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,882},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/btn_m5.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,479},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/jdnn/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,623},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>game/jdnn/image/img_cal_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,2},{394,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,58}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,413},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,413},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,2},{143,58}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,334},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,204},{147,59}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,400},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,334},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,267},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,195},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,718},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,718},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,868},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,934},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_choose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,623},{73,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,582},{61,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,676},{60,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,817},{81,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,991},{68,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,991},{67,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,930},{81,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,582},{82,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,711},{46,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_choose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,930},{74,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>game/jdnn/image/img_cutdown_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,204},{214,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,49}</string>
			</dict>
			<key>game/jdnn/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,617},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/jdnn/image/img_head_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,930},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/jdnn/image/img_head_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,64},{239,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,80}</string>
			</dict>
			<key>game/jdnn/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,269},{459,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{459,61}</string>
			</dict>
			<key>game/jdnn/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,148},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/jdnn/image/img_nn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{348,718}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,718}</string>
			</dict>
			<key>game/jdnn/image/img_card_type_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,143},{144,48}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/jdnn/image/img_jx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,2},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>game/jdnn/image/img_nntou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,724},{269,214}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,227}</string>
			</dict>
			<key>game/jdnn/image/img_type_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,724},{263,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,111}</string>
			</dict>
			<key>game/jdnn/image/img_type_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,2},{263,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,111}</string>
			</dict>
			<key>game/jdnn/image/img_type_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,724},{264,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,111}</string>
			</dict>
			<key>game/jdnn/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,334},{93,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,145}</string>
			</dict>
			<key>game/jdnn/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,858},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/jdnn/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,961},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/jdnn/image/img_load.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,718},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>game/jdnn/image/img_load_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,479},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>game/jdnn/image/img_qqz.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,143},{91,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,33}</string>
			</dict>
			<key>game/jdnn/image/img_qxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,817},{91,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{1073,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1073</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>