# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
#*.exe
*.out
*.app
*.tlog
*.log
*.suo
#*.sln
*.pdb
*.user
*.ilk
*.db
*.opendb
*.exp
*.idb
*.class
*.dex
*.apk
*.ccs
*.cfg
*.udf
*.prop

\.svn/
\.vscode/
\.vs/
\.sconsign\.dblite
\.metadata/
cocosstudio/
gen/
obj/
proj\.android/
proj\.win32/
simulator/