<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/brnn/image/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,110},{103,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,217},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,165},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1839,391},{104,110}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,2},{104,110}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,272},{103,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,2},{310,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,111}</string>
			</dict>
			<key>game/brnn/image/btn_lose_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,229},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>game/brnn/image/btn_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,412},{86,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,77}</string>
			</dict>
			<key>game/brnn/image/btn_sit_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,50},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>
			<key>game/brnn/image/btn_sit_banker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,117},{310,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,111}</string>
			</dict>
			<key>game/brnn/image/btn_trend.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,493},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/brnn/image/btn_win_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,259},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>game/brnn/image/img_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,499},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>game/brnn/image/img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,548},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>game/brnn/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,280},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/brnn/image/img_area_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,289},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_area_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,552},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_area_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,289},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_area_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,552},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,230},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>game/brnn/image/img_bet_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,280},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
			<key>game/brnn/image/img_card_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,346},{143,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,79},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,352},{143,58}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,229},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,290},{147,59}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,2},{144,48}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,238},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,324},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,390},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,213},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,213},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,363},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,363},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,280},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_chip_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,117},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,352},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/brnn/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,281},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/brnn/image/img_head_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,460},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/brnn/image/img_head_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,2},{239,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,80}</string>
			</dict>
			<key>game/brnn/image/img_hint_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,165},{337,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,44}</string>
			</dict>
			<key>game/brnn/image/img_hint_less.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,232},{510,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,44}</string>
			</dict>
			<key>game/brnn/image/img_hint_less2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,86},{368,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,27}</string>
			</dict>
			<key>game/brnn/image/img_hint_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,2},{337,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,44}</string>
			</dict>
			<key>game/brnn/image/img_hint_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,117},{510,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,44}</string>
			</dict>
			<key>game/brnn/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,2},{206,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,150},{154,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,41}</string>
			</dict>
			<key>game/brnn/image/img_lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,50},{102,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,25}</string>
			</dict>
			<key>game/brnn/image/img_mult_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,50},{236,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,43}</string>
			</dict>
			<key>game/brnn/image/img_near_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,491},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>game/brnn/image/img_no_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,390},{97,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,25}</string>
			</dict>
			<key>game/brnn/image/img_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,412},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,480},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,487},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,563},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,230},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_selfbet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,117},{182,40}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,52}</string>
			</dict>
			<key>game/brnn/image/img_sit_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,50},{102,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,25}</string>
			</dict>
			<key>game/brnn/image/img_sitbanker_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,165},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>game/brnn/image/img_stop_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,834},{611,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{611,174}</string>
			</dict>
			<key>game/brnn/image/img_trend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,342},{114,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,39}</string>
			</dict>
			<key>game/brnn/image/img_trend_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{828,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{828,411}</string>
			</dict>
			<key>game/brnn/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,999},{592,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,22}</string>
			</dict>
			<key>game/brnn/image/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,2},{310,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,111}</string>
			</dict>
			<key>game/brnn/image/img_hint_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,815},{511,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{511,88}</string>
			</dict>
			<key>game/brnn/image/img_hint_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,907},{511,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{511,88}</string>
			</dict>
			<key>game/brnn/image/img_hint_banker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1839,2},{385,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{2046,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2046</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>