<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/brnn/image/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,275},{103,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,382},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,489},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,240},{104,110}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,348},{104,110}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,275},{103,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/btn_charge.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,815},{310,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,111}</string>
			</dict>
			<key>game/brnn/image/btn_lose_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,68},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>game/brnn/image/btn_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,605},{86,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,77}</string>
			</dict>
			<key>game/brnn/image/btn_sit_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,2},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>
			<key>game/brnn/image/btn_sit_banker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,2},{310,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,111}</string>
			</dict>
			<key>game/brnn/image/btn_trend.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,596},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/brnn/image/btn_win_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,194},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>game/brnn/image/img_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,596},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>game/brnn/image/img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,809},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>game/brnn/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,382},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/brnn/image/img_area_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,289},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_area_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,552},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_area_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,289},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_area_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,552},{182,259}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,860},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,53}</string>
			</dict>
			<key>game/brnn/image/img_bet_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,666},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
			<key>game/brnn/image/img_card_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,454},{143,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,2},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,601},{143,58}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,2},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,454},{147,59}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,113},{144,48}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,2},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,68},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,155},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,240},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,275},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,425},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,275},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_card_type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,425},{146,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,62}</string>
			</dict>
			<key>game/brnn/image/img_chip_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,2},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/brnn/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,748},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/brnn/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,733},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/brnn/image/img_head_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,746},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/brnn/image/img_head_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,117},{239,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,80}</string>
			</dict>
			<key>game/brnn/image/img_hint_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,201},{337,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,44}</string>
			</dict>
			<key>game/brnn/image/img_hint_less.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,930},{510,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,44}</string>
			</dict>
			<key>game/brnn/image/img_hint_less2.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,165},{368,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,27}</string>
			</dict>
			<key>game/brnn/image/img_hint_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,117},{337,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,44}</string>
			</dict>
			<key>game/brnn/image/img_hint_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,978},{510,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,44}</string>
			</dict>
			<key>game/brnn/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,2},{206,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,283}</string>
			</dict>
			<key>game/brnn/image/img_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,68},{154,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,41}</string>
			</dict>
			<key>game/brnn/image/img_lz.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,76},{102,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,25}</string>
			</dict>
			<key>game/brnn/image/img_mult_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,196},{236,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,43}</string>
			</dict>
			<key>game/brnn/image/img_near_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,165},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>game/brnn/image/img_no_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,165},{97,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,25}</string>
			</dict>
			<key>game/brnn/image/img_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,695},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,868},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,695},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,809},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_rank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,860},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/brnn/image/img_selfbet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,196},{182,40}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,52}</string>
			</dict>
			<key>game/brnn/image/img_sit_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,76},{102,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,25}</string>
			</dict>
			<key>game/brnn/image/img_sitbanker_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,68},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>game/brnn/image/img_stop_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,834},{611,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{611,174}</string>
			</dict>
			<key>game/brnn/image/img_trend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,112},{114,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,39}</string>
			</dict>
			<key>game/brnn/image/img_trend_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{828,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{828,411}</string>
			</dict>
			<key>game/brnn/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,249},{592,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{1697,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1697</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>