<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby/image/head/img_head_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,2},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,2},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,2},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,2},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,2},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,86},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,86},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,86},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>lobby/image/head/img_head_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,86},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>head.png</string>
			<key>realTextureFileName</key>
			<string>head.png</string>
			<key>size</key>
			<string>{504,168}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>504</integer>
			<key>height</key>
			<integer>168</integer>
		</dict>
	</dict>
</plist>