<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lobby/image/rank/img_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>lobby/image/rank/img_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,130},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>lobby/image/rank/img_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>lobby/image/mail/img_mail_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,253},{58,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,48}</string>
			</dict>
			<key>lobby/image/mail/img_mail_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,315},{58,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,48}</string>
			</dict>
			<key>lobby/image/mail/img_read_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,68},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>lobby/image/mail/img_read_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,377},{50,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>public.png</string>
			<key>realTextureFileName</key>
			<string>public.png</string>
			<key>size</key>
			<string>{64,429}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>429</integer>
		</dict>
	</dict>
</plist>