<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/ddz/image/btn_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,809},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,969},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1129},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1129},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1072},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1151},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_cant_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1129},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1283},{206,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,76}</string>
			</dict>
			<key>game/ddz/image/btn_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1283},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_ming.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1129},{160,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,79}</string>
			</dict>
			<key>game/ddz/image/btn_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1289},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_no_call.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1443},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_no_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1603},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_no_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1363},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_out_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1442},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_out_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1365},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_rember.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1578},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,68}</string>
			</dict>
			<key>game/ddz/image/btn_result_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1006},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>game/ddz/image/btn_trust.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,430},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>game/ddz/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1208},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/ddz/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,934},{35,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,48}</string>
			</dict>
			<key>game/ddz/image/img_call_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,736},{74,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>game/ddz/image/img_call_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,947},{55,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,38}</string>
			</dict>
			<key>game/ddz/image/img_call_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,881},{62,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,38}</string>
			</dict>
			<key>game/ddz/image/img_call_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,814},{63,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,38}</string>
			</dict>
			<key>game/ddz/image/img_call_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,655},{77,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,37}</string>
			</dict>
			<key>game/ddz/image/img_card_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1525},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>
			<key>game/ddz/image/img_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1449},{74,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,86}</string>
			</dict>
			<key>game/ddz/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1230},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/ddz/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,885},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/ddz/image/img_head_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,346},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/ddz/image/img_head_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1779},{239,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,80}</string>
			</dict>
			<key>game/ddz/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,820},{459,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{459,61}</string>
			</dict>
			<key>game/ddz/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,490},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/ddz/image/img_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1041},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>game/ddz/image/img_rember.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,2},{484,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,58}</string>
			</dict>
			<key>game/ddz/image/img_result_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,2},{803,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{803,57}</string>
			</dict>
			<key>game/ddz/image/img_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1212},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,1212},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1212},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1208},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1442},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_card_mp.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,573},{37,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,78}</string>
			</dict>
			<key>game/ddz/image/img_call_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,766},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>game/ddz/image/img_call_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,492},{77,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,39}</string>
			</dict>
			<key>game/ddz/image/img_hint_cant.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,2},{405,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,52}</string>
			</dict>
			<key>game/ddz/image/img_hint_trust.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,411},{405,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,51}</string>
			</dict>
			<key>game/ddz/image/btn_ming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1129},{160,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,79}</string>
			</dict>
			<key>game/ddz/image/img_plane.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1779},{445,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,255}</string>
			</dict>
			<key>game/ddz/image/img_result_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{833,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{833,340}</string>
			</dict>
			<key>game/ddz/image/img_title_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1283},{492,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{492,278}</string>
			</dict>
			<key>game/ddz/image/img_title_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,1283},{492,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{492,278}</string>
			</dict>
			<key>game/ddz/image/img_logo_ddz.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1779},{249,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,81}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{1016,2036}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1016</integer>
			<key>height</key>
			<integer>2036</integer>
		</dict>
	</dict>
</plist>