<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/ddz/image/btn_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,490},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,63},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,223},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,383},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,63},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,223},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_cant_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,63},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,490},{206,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,76}</string>
			</dict>
			<key>game/ddz/image/btn_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,223},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_ming.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,490},{160,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,79}</string>
			</dict>
			<key>game/ddz/image/btn_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,383},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_no_call.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,63},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_no_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,223},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_no_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,63},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_out_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,223},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_out_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,383},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/ddz/image/btn_rember.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,132},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,68}</string>
			</dict>
			<key>game/ddz/image/btn_result_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,411},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>game/ddz/image/btn_trust.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,63},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>game/ddz/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,63},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/ddz/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,260},{35,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,48}</string>
			</dict>
			<key>game/ddz/image/img_call_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,654},{74,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>game/ddz/image/img_call_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,201},{55,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,38}</string>
			</dict>
			<key>game/ddz/image/img_call_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,334},{62,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,38}</string>
			</dict>
			<key>game/ddz/image/img_call_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,334},{63,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,38}</string>
			</dict>
			<key>game/ddz/image/img_call_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,697},{77,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,37}</string>
			</dict>
			<key>game/ddz/image/img_card_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,204},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>
			<key>game/ddz/image/img_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,201},{74,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,86}</string>
			</dict>
			<key>game/ddz/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,132},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/ddz/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,282},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/ddz/image/img_head_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,197},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/ddz/image/img_head_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,741},{239,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,80}</string>
			</dict>
			<key>game/ddz/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,2},{459,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{459,61}</string>
			</dict>
			<key>game/ddz/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,465},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/ddz/image/img_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,2},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>game/ddz/image/img_rember.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,2},{484,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,58}</string>
			</dict>
			<key>game/ddz/image/img_result_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{803,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{803,57}</string>
			</dict>
			<key>game/ddz/image/img_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,198},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,198},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,63},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,132},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,63},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>game/ddz/image/img_card_mp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,700},{37,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,78}</string>
			</dict>
			<key>game/ddz/image/img_call_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,654},{115,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,39}</string>
			</dict>
			<key>game/ddz/image/img_call_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,697},{77,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,39}</string>
			</dict>
			<key>game/ddz/image/img_hint_cant.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,2},{405,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,52}</string>
			</dict>
			<key>game/ddz/image/img_hint_trust.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,411},{405,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,51}</string>
			</dict>
			<key>game/ddz/image/btn_ming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,490},{160,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{1024,823}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>823</integer>
		</dict>
	</dict>
</plist>