<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/lhd/image/btn_other.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,516},{86,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,77}</string>
			</dict>
			<key>game/lhd/image/img_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,2},{758,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{758,42}</string>
			</dict>
			<key>game/lhd/image/img_back_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,274},{207,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,21}</string>
			</dict>
			<key>game/lhd/image/img_back_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,451},{207,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,21}</string>
			</dict>
			<key>game/lhd/image/img_back_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,476},{207,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,21}</string>
			</dict>
			<key>game/lhd/image/img_bet_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,516},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
			<key>game/lhd/image/img_chip_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,33},{103,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,90},{103,110}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,90},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,90},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,698},{104,110}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,687},{104,110}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,837},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,793},{103,110}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,33},{104,110}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_chip_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,33},{104,110}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_going.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,583},{69,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,46}</string>
			</dict>
			<key>game/lhd/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,567},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/lhd/image/img_head_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,603},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/lhd/image/img_head_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,2},{239,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,80}</string>
			</dict>
			<key>game/lhd/image/img_hint_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,2},{510,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,44}</string>
			</dict>
			<key>game/lhd/image/img_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,617},{220,178}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,180}</string>
			</dict>
			<key>game/lhd/image/img_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,409},{154,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,41}</string>
			</dict>
			<key>game/lhd/image/img_load_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,567},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>game/lhd/image/img_load_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,662},{127,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,34}</string>
			</dict>
			<key>game/lhd/image/img_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,841},{207,180}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,180}</string>
			</dict>
			<key>game/lhd/image/img_near_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,647},{76,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,25}</string>
			</dict>
			<key>game/lhd/image/img_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,633},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/lhd/image/img_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,137},{133,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/lhd/image/img_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,568},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/lhd/image/img_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,516},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/lhd/image/img_rank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,516},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/lhd/image/img_rank_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,619},{64,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>game/lhd/image/img_result_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,516},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>game/lhd/image/img_result_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,951},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>game/lhd/image/img_result_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,951},{37,38}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>game/lhd/image/img_richer.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,606},{115,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,37}</string>
			</dict>
			<key>game/lhd/image/img_road.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,245},{227,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,34}</string>
			</dict>
			<key>game/lhd/image/img_trend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,485},{114,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,39}</string>
			</dict>
			<key>game/lhd/image/img_winlose.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,812},{112,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,21}</string>
			</dict>
			<key>game/lhd/image/img_winlose_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,48},{783,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{783,38}</string>
			</dict>
			<key>game/lhd/image/img_result_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,647},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>game/lhd/image/img_result_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,647},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>game/lhd/image/img_chip_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,687},{109,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,116}</string>
			</dict>
			<key>game/lhd/image/img_self_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,245},{202,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,36}</string>
			</dict>
			<key>game/lhd/image/img_stop_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{611,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{611,174}</string>
			</dict>
			<key>game/lhd/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,2},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/lhd/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,274},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/lhd/image/img_hint_less.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,2},{510,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{510,44}</string>
			</dict>
			<key>game/lhd/image/img_hint_less2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,2},{368,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{2045,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>