<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/zjh/image/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,126},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>game/zjh/image/btn_bp.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,67},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,223},{53,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>game/zjh/image/btn_gdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,67},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,209},{30,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>game/zjh/image/btn_jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,67},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_kp.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,67},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_menu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,218},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/zjh/image/btn_menu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,222},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/zjh/image/btn_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,67},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,223},{51,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>game/zjh/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,273},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>game/zjh/image/img_bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,242},{98,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,25}</string>
			</dict>
			<key>game/zjh/image/img_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1332,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1332,67}</string>
			</dict>
			<key>game/zjh/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,67},{123,68}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,67},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,272},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,67},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,67},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,67},{121,59}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,127},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,67},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,126},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,127},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,67},{84,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,135},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,210},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,142},{76,76}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,284},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>game/zjh/image/img_fold.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,135},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,223},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/zjh/image/img_head_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,142},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/zjh/image/img_head_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,218},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/zjh/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,0},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/zjh/image/img_jz_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,0},{589,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{589,108}</string>
			</dict>
			<key>game/zjh/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{93,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,145}</string>
			</dict>
			<key>game/zjh/image/img_menu_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,0},{66,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,280}</string>
			</dict>
			<key>game/zjh/image/img_speak_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,277},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,284},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,126},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,234},{31,30}}</string>
				<key>offset</key>
				<string>{-52,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,334},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>game/zjh/image/img_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,242},{51,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,21}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,126},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,126},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,223},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,174},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,209},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{2047,394}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>394</integer>
		</dict>
	</dict>
</plist>