<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/zjh/image/btn_bp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,809},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,809},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,688},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,767},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_kp.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,927},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,767},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,146},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>game/zjh/image/img_bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,224},{98,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,25}</string>
			</dict>
			<key>game/zjh/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,74},{123,68}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,146},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,119},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,245},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,371},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,371},{121,59}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,2},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,209},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,245},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,332},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,205},{84,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,332},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,419},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,419},{76,76}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,326},{93,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,21}</string>
			</dict>
			<key>game/zjh/image/img_fold.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,468},{53,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,24}</string>
			</dict>
			<key>game/zjh/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,423},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/zjh/image/img_head_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,525},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/zjh/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,525},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/zjh/image/img_jz_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{589,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{589,108}</string>
			</dict>
			<key>game/zjh/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,660},{93,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,145}</string>
			</dict>
			<key>game/zjh/image/img_speak_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,969},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,969},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,688},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,767},{31,30}}</string>
				<key>offset</key>
				<string>{-52,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,580},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>game/zjh/image/img_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,525},{51,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,21}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,297},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,297},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,146},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,2},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,61},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/btn_bp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,688},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,767},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_jz_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,927},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_qp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,767},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,595},{459,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{459,61}</string>
			</dict>
			<key>game/zjh/image/btn_kp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,2},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,146},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_show_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,113},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,634},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>game/zjh/image/img_add_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,2},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>game/zjh/image/img_desc_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,81},{131,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{512,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>