<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/zjh/image/btn_bp.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,2},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,58},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,162},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,155},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_kp.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,218},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,378},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,114},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>game/zjh/image/img_bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,280},{98,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,25}</string>
			</dict>
			<key>game/zjh/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,274},{123,68}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,407},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,155},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,281},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,401},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,274},{121,59}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,58},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,114},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,265},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,114},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,464},{84,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,451},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,352},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,254},{76,76}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,382},{93,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,21}</string>
			</dict>
			<key>game/zjh/image/img_fold.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,479},{53,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,24}</string>
			</dict>
			<key>game/zjh/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,352},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/zjh/image/img_head_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,202},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/zjh/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,2},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/zjh/image/img_jz_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{589,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{589,108}</string>
			</dict>
			<key>game/zjh/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,58},{93,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,145}</string>
			</dict>
			<key>game/zjh/image/img_speak_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,399},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,202},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,201},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,485},{31,30}}</string>
				<key>offset</key>
				<string>{-52,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,377},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>game/zjh/image/img_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,322},{51,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,21}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,334},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,253},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,172},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,114},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,114},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/btn_bp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,315},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,322},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_jz_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,482},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_qp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,465},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,2},{459,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{459,61}</string>
			</dict>
			<key>game/zjh/image/btn_kp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,114},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,439},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_show_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,169},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,431},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{1022,640}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>640</integer>
		</dict>
	</dict>
</plist>