<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/zjh/image/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,893},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>game/zjh/image/btn_bp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,841},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,650},{53,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>game/zjh/image/btn_gdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,841},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,684},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,650},{30,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>game/zjh/image/btn_jz.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,840},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_kp.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,650},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_menu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,75},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/zjh/image/btn_menu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,141},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/zjh/image/btn_qp.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,806},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,302},{51,51}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>game/zjh/image/img_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,309},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>game/zjh/image/img_bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,997},{98,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,25}</string>
			</dict>
			<key>game/zjh/image/img_card_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,521},{123,68}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,893},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,962},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,771},{122,60}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,771},{122,59}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_card_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{121,59}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,68}</string>
			</dict>
			<key>game/zjh/image/img_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,589},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_chip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,59},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,75},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,158},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,80},{84,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,143},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,241},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_chip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,226},{76,76}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>game/zjh/image/img_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,997},{93,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,21}</string>
			</dict>
			<key>game/zjh/image/img_fold.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{107,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,34}</string>
			</dict>
			<key>game/zjh/image/img_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,650},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>
			<key>game/zjh/image/img_head_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,164},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/zjh/image/img_head_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,0},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>game/zjh/image/img_hint_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,0},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/zjh/image/img_jz_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{589,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{589,108}</string>
			</dict>
			<key>game/zjh/image/img_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,696},{93,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,145}</string>
			</dict>
			<key>game/zjh/image/img_menu_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,521},{66,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,280}</string>
			</dict>
			<key>game/zjh/image/img_speak_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,272},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,355},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_speak_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,438},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>game/zjh/image/img_sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,671},{31,30}}</string>
				<key>offset</key>
				<string>{-52,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_turn.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,996},{50,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,21}</string>
			</dict>
			<key>game/zjh/image/img_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,650},{51,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,21}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,244},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,244},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,294},{50,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,207},{51,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/img_chip_small_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,258},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,55}</string>
			</dict>
			<key>game/zjh/image/btn_bp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,696},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_gz_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,696},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_jz_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,852},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/btn_qp_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{156,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,75}</string>
			</dict>
			<key>game/zjh/image/img_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,589},{459,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{459,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistscene.png</string>
			<key>realTextureFileName</key>
			<string>plistscene.png</string>
			<key>size</key>
			<string>{511,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>511</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>